.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#list-and-profile {
  justify-content: space-between;
}

#filter-options {
  justify-content: space-between;
  min-height: 100px;
  margin: 1rem;
}

#filter-options > div {
  width: fit-content;
}

#alphabet-filter {
  width: 95%;
  flex-wrap: nowrap;
}

button {
  margin: 2px;
}

h3 {
  text-align: center;
}

#hero-list, #hero-profile {
  width:50%;
}

#hero-list {
  list-style: none;
}