body {
  font-size: 12pt;
  background-image: linear-gradient(to right, #fe0000ea, #7e0701ea);
  color: white;
}

#root {
  display:flex;
  flex-direction: column;
  min-height: 100vh
}

@font-face {
  font-family: 'Trajan Pro Bold';
  src: local('Trajan Pro Bold'), url(./fonts/Trajan\ Pro\ Bold.ttf) format('truetype');
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#list-and-profile {
  width: 97%;
  margin: 1rem auto;
  justify-content: space-between;
}

#filter-options {
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 100px;
  margin: 1rem;
}

#attribute-section, #attack-type-section {
  width: 45%;
}

#alphabet-filter {
  width: 100%;
  flex-wrap: nowrap;
}

button {
  margin: 2px;
  font-size: 12pt;
  border-radius: 10px;
  background-color:#7e0701ea;
  color: white;
  border: 2px solid white;
  padding: 1rem;
}

button:hover {
  font-weight: bold;
  border: 2px solid red;
}

header {
  display: flex;
  height: auto;
  padding: 0 4rem;
}

#logo {
  max-width: auto;
  height: 100px;
}

h1 {
  font-family: 'Trajan Pro Bold';
  font-size: 22pt;
  letter-spacing: 0.5rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
}

h1, h3 {
  text-align: center;
}

h2 {
  margin: 0;
  padding-top: 2rem;
  padding-left: 8rem;
}

h3 {
  margin:1rem;
}

#attribute-filter, #attack-type-filter {
  justify-content: space-evenly;
}

#first-inital-section {
  width: 90%
}

#hero-list {
  width:60%;
  margin-left: 4rem;
}

#hero-profile-container {
  width: 40%;
  margin-right: 1rem;
}

#hero-list {
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
  padding-left: 0;
  gap: 0.5rem 1rem;
  margin: 0;
}

#hero-profile-container {
  height: 12rem;
  background-color: #7e0701ea;
  margin: 0 0 2rem 0;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.527);
}

.hero-list-item {
  display: flex;
  background-color: #7e0701ea;
  width: fit-content;
  min-width: 9rem;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5)
}

.hero-list-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.profile-table-value {
  padding-left: 1rem
}

.profile-table-value {
  width: 70%;
}

header, footer {
  background-color: rgba(0, 0, 0, 0.74);
}

footer {
  margin-top: auto;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.filter-options-button {
  margin: 1rem 0 0 1rem;
  padding: 1rem;
  font-weight: bold;
}

#filter-options-buttons {
 margin: 0;
}

#scroll-to-top {
  position: sticky;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 4rem;
  margin-bottom: 1rem;
  left: 90%;
  width: 8rem;
  border-radius: 1rem;
  padding: 1rem;
}

.ad {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.6)
}

.ad-main {
  position: fixed;
  background: white;
  width: 60%;
  height: 50%;
  top:50%;
  left:50%;
  z-index: 10;
  transform: translate(-50%,-50%);
  border: 20px solid white;
  color: black;
  border-radius: 20px;
  animation: borderColor 0.5s infinite linear;
  padding: 2%
}

@keyframes borderColor {
  15% {
    border: 20px solid cyan;
  }
  30% {
    border: 20px solid rgb(17, 0, 255);
  }
  45% {
    border: 20px solid rgb(234, 0, 255);
  }
  60% {
    border: 20px solid rgb(255, 0, 0);
  }
  75% {
    border: 20px solid rgb(255, 217, 0);
  }
  90% {
    border: 20px solid rgb(157, 255, 0);
  }
}

.close-btn {
  position: absolute;
  left: 93%;
  top: 2%;
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding:0.5rem;
  font-weight: bolder;
  font-size: larger;
}